@{
    ViewData["Title"] = "About";
}

<section class="bg-orange text-white text-center py-5">
    <div class="container">
        <h1 class="display-4 fw-bold">Conoce Nuestra Historia</h1>
        <p class="lead fw-bold">Un pionero en la industria del cine desde 2024</p>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h2>Nuestra Historia</h2>
                <p>
                    Todo comenzó en un aula universitaria. Un proyecto escolar, impulsado por la pasión de nuestro profesor y nuestro amor por el cine, nos llevó a embarcarnos en una aventura épica. La idea de crear nuestra propia plataforma de alquiler y venta de películas en línea nos llenó de ilusión y nervios al mismo tiempo.
                </p>
                <p>
                    El camino fue desafiante, lleno de obstáculos técnicos y momentos de duda. Pero con perseverancia y el apoyo de nuestro equipo, logramos convertir esa idea en una realidad tangible. Cada desafío superado nos fortaleció y nos acercó más a nuestro sueño de compartir nuestra pasión por el cine con el mundo.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/images/Edificio4FIME.jpg" alt="Historia de la Empresa" class="img-fluid rounded shadow">
            </div>
        </div>
    </div>
</section>

<section id="objetivos" class="py-5 text-center bg-light">
    <div class="container">
        <h2 class="mb-4">Nuestros Objetivos</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card rounded-5 px-3 pb-2 h-100">
                    <i class="bi bi-lightbulb-fill mb-3 text-orange fs-4"></i>
                    <h4>Innovación</h4>
                    <p>Buscar siempre nuevas formas de mejorar nuestros productos y servicios.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card rounded-5 px-3 pb-2 h-100">
                    <i class="bi bi-person-fill mb-3 text-orange fs-4"></i>
                    <h4>Clientes</h4>
                    <p>Poner a nuestros clientes en el centro de todo lo que hacemos.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card rounded-5 px-3 pb-2 h-100">
                    <<i class="bi bi-globe-americas text-orange"></i>
                    <h4>Sostenibilidad</h4>
                    <p>Comprometidos con el medio ambiente y la sostenibilidad a largo plazo.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="compromisos" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Nuestros Compromisos</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <h4 class="fw-semibold text-orange">Calidad</h4>
                <p>
                    Nos comprometemos a mantener los más altos estándares de calidad en cada uno de nuestros productos y servicios.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4 class="fw-semibold text-orange">Integridad</h4>
                <p>
                    Valoramos la honestidad y la transparencia en todas nuestras relaciones con nuestros clientes, empleados y socios.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4 class="fw-semibold text-orange">Sostenibilidad</h4>
                <p>
                    Nos comprometemos a minimizar nuestro impacto ambiental a través de prácticas empresariales responsables.
                </p>
            </div>
            <div class="col-md-6 mb-4">
                <h4 class="fw-semibold text-orange">Responsabilidad Social</h4>
                <p>
                    Creemos en devolver a la comunidad, apoyando causas sociales y promoviendo un ambiente laboral inclusivo.
                </p>
            </div>
        </div>
    </div>
</section>


