@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid vh-100 d-inline-block    mt-5 ">
    <div class="row h-75  pb-2 ">
        <div class="col-12 col-lg-2  "></div>
        <div class="col-12 col-lg-8 d-flex h-75 justify-content-evenly align-items-center">
            <div class="row">
                <div class="col-12 h-100 text-center order-3 order-md-1 mt-2 mb-3">
                    <h1>¡Encuentra tu próxima película!</h1>
                    <h5>La mejor opción a tu disposición, películas de toda clase.</h5>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-evenly order-1 order-md-2">
                    <a class="btn btn-light btn-md w-50 rounded-pill py-3 mx-auto fs-6 mb-3" asp-controller="Cuenta" asp-action="Login">INICIAR SESIÓN</a>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-evenly order-2 order-md-2">
                    <a class="btn btn-light btn-md w-50 rounded-pill py-3 mx-auto fs-6 mb-3" asp-controller="Cuenta" asp-action="Register">REGISTRARSE</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-lg-end h-lg-100 h-sm-75">
            <a class="pt-5 text-decoration-none text-white" asp-area="" asp-controller="Inicio" asp-action="Contactanos">Contáctanos</a>
        </div>
    </div>
</div>
