@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid h-75 inline-block ">
    <div class="row pb-2 h-100 inline-block mt-4 ">
        <div class="col-12 col-lg-2"></div>
        <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
            <div class="row ">
                <div class="col-12 text-center order-3 order-md-1 mt-2 mb-3">
                    <h1>¡Encuentra tu próxima película!</h1>
                    <h5>La mejor opción a tu disposición, películas de toda clase.</h5>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-evenly order-1 order-md-2">
                    <button class="btn btn-light btn-md w-50 rounded-pill py-3 mx-auto fs-6 mb-3">INICIAR SESIÓN</button>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-evenly order-2 order-md-2">
                    <button class="btn btn-light btn-md w-50 rounded-pill py-3 mx-auto fs-6 mb-3">REGISTRARSE</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-end">
           
                <a class="text-decoration-none text-white" asp-area="" asp-controller="Inicio" asp-action="Contactanos">Contáctanos</a>
         
           

        </div>
    </div>

</div>