/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 23%; /* Ajusta el ancho de los botones según sea necesario */
}

/* Estilos para el título de la película */
.movie-title {
    margin-top: 20px;
}