@model BEARFLIX.Models.BD.Usuario
@{
    ViewData["Title"] = "Vestíbulo";
    Layout = "_UsuarioLayout";

}
<section id="slider" class="h-100">


    <div class="owl-carousel w-100">
        <aside class="escaparate">

            <div class="row">
                <col-2>
                    <h2>Título</h2>
                </col-2>
                <div class="col-8">
                    <p>
                        descripcion
                    </p>
                </div>

            </div>
        </aside>
        <aside class="escaparate">

            <div class="row">
                <col-2>
                    <h2>Título</h2>
                </col-2>
                <div class="col-8">
                    <p>
                        descripcion
                    </p>
                </div>

            </div>
        </aside>
        <aside class="escaparate">

            <div class="row">

                <h2>Título</h2>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio provident nobis placeat optio atque
                    magnam dolores saepe quam tempora perspiciatis. Eius, odit possimus doloremque quia praesentium aliquam
                    magni harum, autem exercitationem, unde facere. At dolorum neque dolores modi, distinctio consequuntur
                    labore unde atque dolore ab quod incidunt aspernatur delectus quidem enim ducimus maxime voluptates
                    tempore ad ullam perferendis ex laudantium perspiciatis. Incidunt, eos aliquam qui quasi necessitatibus
                    tempora architecto suscipit dolore! Ea perspiciatis ducimus quos similique aliquid eos repudiandae
                    dignissimos quibusdam quia, perferendis error accusamus. Facere autem nemo quaerat, est dignissimos
                    obcaecati molestias, omnis architecto molestiae necessitatibus soluta quos placeat!
                </p>

            </div>
        </aside>
        <aside class="escaparate">

            <div class="row">
                <col-2>
                    <h2>Título</h2>
                </col-2>
                <div class="col-8">
                    <p>
                        descripcion
                    </p>
                </div>

            </div>
        </aside>
        <aside class="escaparate">

            <div class="row">
                <col-2>
                    <h2>Título</h2>
                </col-2>
                <div class="col-8">
                    <p>
                        descripcion
                    </p>
                </div>

            </div>
        </aside>



    </div>
    <div class="owl-nav">
        <button class="prev-btn"><i class="bi bi-chevron-left"></i></button>
        <button class="next-btn"><i class="bi bi-chevron-right"></i></button>
    </div>

</section>





<div class="slider-container ">
    <h2 class="slider-cabecera ">Más Recientes</h2>
    <div class="slider-pelicula">
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="peliculaShow">Película 1</div>
        <div class="mostrarMas bi bi-plus-circle"></div>

    </div>
    <button class="slider-btn slider-btn-left"><i class="bi bi-caret-left-fill fs-1"></i></button>
    <button class="slider-btn slider-btn-right"><i class="bi bi-caret-right-fill fs-1"></i></button>
</div>

