@model BEARFLIX.Models.BD.Usuario
@{
    ViewData["Title"] = "Vestíbulo";
    Layout = "_UsuarioLayout";

}
@{
    if (Model != null)
    {
        <h2>@Model.Nombre</h2>
        <p>@Model.Correo</p>
    }
    else
    {
        <p>Usuario no encontrado.</p>
    }
}
