@model BEARFLIX.Models.BD.Usuario
@{
    ViewData["Title"] = "Vestíbulo";
    Layout = "_UsuarioLayout";

}
<section id="slider" class="h-100">


    <div class="owl-carousel w-100">



    </div>
    <div class="owl-nav">
        <button class="prev-btn"><i class="bi bi-chevron-left"></i></button>
        <button class="next-btn"><i class="bi bi-chevron-right"></i></button>
    </div>

</section>




<!-- El slider container es el modelo de todos los generos -->
<div class="slider-container ">
    <h2 class="slider-cabecera ">Más Recientes</h2>
    <div class="slider-pelicula" id="recientePelicula">

    </div>
    <button class="slider-btn slider-btn-left"><i class="bi bi-caret-left-fill fs-1"></i></button>
    <button class="slider-btn slider-btn-right"><i class="bi bi-caret-right-fill fs-1"></i></button>
</div>

<div id="generos-container">

</div>

@section Scripts {
    <script src="~/js/usuarioIndex.js"></script>

}
