@model BEARFLIX.Models.BD.Pelicula

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portada" class="control-label"></label>
                <input asp-for="Portada" class="form-control" />
                <span asp-validation-for="Portada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fondo" class="control-label"></label>
                <input asp-for="Fondo" class="form-control" />
                <span asp-validation-for="Fondo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloImagen" class="control-label"></label>
                <input asp-for="TituloImagen" class="form-control" />
                <span asp-validation-for="TituloImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estreno" class="control-label"></label>
                <input asp-for="Estreno" class="form-control" />
                <span asp-validation-for="Estreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioRenta" class="control-label"></label>
                <input asp-for="PrecioRenta" class="form-control" />
                <span asp-validation-for="PrecioRenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

