@model IEnumerable<BEARFLIX.Models.BD.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenido, @ViewData["NombreUsuario"]</h1>

<div class="container">
    <div class="row">
        <div class="col-2 col-lg-6 m-1 m-lg-0">
            <button type="button" class="btn btn-warning p-3 m-2">Reseñas</button>
        </div>
        <div class="col-10 col-lg-6 m-1 m-lg-0 d-flex justify-content-end">
            <button type="button" class="btn btn-primary p-1 m-2">Administrar Proveedores</button>
            <button type="button" class="btn btn-primary p-2 m-2">Administrar Géneros</button>
            <a type="button" class="btn btn-info p-3 m-2" asp-action="Create">Añadir Película</a>
        </div>
    </div>
    <div id="contenedorPeliculasAdmin" class="container-fluid">
        @foreach (var item in Model)
        {

            <section class="section w-100 d-flex border-bottom border-dark justify-content-between align-items-center py-2 ">
                <div class="h2 mb-0">@Html.DisplayFor(modelItem => item.Titulo)</div>
                <div class="d-flex">
                    <a type="button" class="btn btn-secondary mx-3" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a type="button" class="btn btn-danger mx-3" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </div>
            </section>



        }
    </div>
</div>